{% extends "base.html"%}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Jargon</h3>

 <div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_jargon', index=jargon._id) }}">
    <!-- A-Z options selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="jargon_index" name="jargon_index" class="validate" required>
                    <option value="" disabled selected>Select Jargon Index</option>                   
                    {% for index in jargons_index %} 
                        <option value="{{ index.jargon_index }}">{{ index.jargon_index  }}</option>
                    {% endfor %}
                </select>
                <label for="jargon_index">Jargon Index</label>
            </div>
        </div>
        <!-- sport name  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="sport" name="sport" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="sport">Sport</label>
            </div>
        </div>
        <!-- jargon name  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="jargon_name" name="jargon_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="jargon_name">Jargon Name</label>
            </div>
        </div>
        <!-- jargon description  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="jargon_description" name="jargon_description" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="jargon_description">Jargon description</label>
            </div>
        </div>
        <!-- creation date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="creation_date" name="creation_date"  type="text" class=" datepicker validate"
                    required>
                <label for="creation_date">Creation Date</label>
            </div>   
        </div>
        
        <!-- submit button   -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Jargon <i class="fas fa-edit right"></i>
                    </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
