{% extends "base.html"%}
{% block content %}

<div class="container-fluid">
    <div class="col s12 center-align">
        <div class="caption text-center">
            <h2>JARGON BUSTER</h2>
            <hr>
            <h4>Ever heard a sporting jargon and thought what on earth does that mean ?</h4>
            <h6> Well you've come to the right place</h6>
            <br>
            <p> Here at <strong>JARGON BUSTER</strong> we are building a glossary of sporting terms</p>
            <p> Browse the categories to find out what that jargon means or even better <strong><a
                        href="{{ url_for('register') }}" class="blue-text">JOIN US </a></strong>and add your jargons to
                the site as well</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align login-btn">
            <a href="{{ url_for('login') }}" class="waves-effect btn-small red darken-3 text-shadow">Log In</a>
        </div>
        <div class="col s12 center-align jargon-btn">
            <a href="{{ url_for('get_jargons') }}" class="waves-effect btn-small red darken-3 text-shadow">View
                Jargons</a>
        </div>
    </div>
</div>
{% endblock %}