{% extends "base.html"%}
{% block content %}


    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="fas fa-caret-down"></i>Football</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-caret-down"></i>Cricket</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-caret-down"></i>Golf</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-caret-down"></i>Rugby</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-caret-down"></i>Horse Racing</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
    </div>
{% endblock %}
