{% extends "base.html"%}
{% block content %}


    <div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">A-E</div>
                {% for index_jargon in A_E %}
                <div class="collapsible-body"><span class="bold">Course :{{index_jargon.jargon_name}}</span>
                    <div>{{index_jargon.sport}}</div>
                    <div>{{index_jargon.jargon_description}}</div>
                    <div>{{index_jargon.created_by}}</div>
                    <div>{{index_jargon.creation_date}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">F-J</div>
                {% for index_jargon in F_J %}
                <div class="collapsible-body"><span class="bold">Course :{{index_jargon.jargon_name}}</span>
                    <div>{{index_jargon.sport}}</div>
                    <div>{{index_jargon.jargon_description}}</div>
                    <div>{{index_jargon.created_by}}</div>
                    <div>{{index_jargon.creation_date}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">K-O</div>
                {% for index_jargon in K_O %}
                <div class="collapsible-body"><span class="bold">Course :{{index_jargon.jargon_name}}</span>
                    <div>{{index_jargon.sport}}</div>
                    <div>{{index_jargon.jargon_description}}</div>
                    <div>{{index_jargon.created_by}}</div>
                    <div>{{index_jargon.creation_date}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">P-T</div>
                {% for index_jargon in P_T %}
                <div class="collapsible-body"><span class="bold">Course :{{index_jargon.jargon_name}}</span>
                    <div>{{index_jargon.sport}}</div>
                    <div>{{index_jargon.jargon_description}}</div>
                    <div>{{index_jargon.created_by}}</div>
                    <div>{{index_jargon.creation_date}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">U-Z</div>
                {% for index_jargon in U_Z %}
                <div class="collapsible-body"><span class="bold">Course :{{index_jargon.jargon_name}}</span>
                    <div>{{index_jargon.sport}}</div>
                    <div>{{index_jargon.jargon_description}}</div>
                    <div>{{index_jargon.created_by}}</div>
                    <div>{{index_jargon.creation_date}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}
