{% extends "base.html"%}
{% block content %}


    <div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">A-E</div>
                {% for runs in A_E %}
                <div class="collapsible-body"><span class="bold">{{runs.course_name}}</span><span class="font">:
                        {{runs.runner_name}}</span>
                    <div>{{runs.run_date}}</div>
                    <div>{{runs.run_time}}</div>
                    <div>{{runs.course_pb}}</div>
                    <div>{{runs.distance_pb}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">F-J</div>
                {% for runs in F_J %}
                <div class="collapsible-body"><span class="bold">{{runs.course_name}}</span><span class="font">:
                        {{runs.runner_name}}</span>
                    <div>{{runs.run_date}}</div>
                    <div>{{runs.run_time}}</div>
                    <div>{{runs.course_pb}}</div>
                    <div>{{runs.distance_pb}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">K-O</div>
                {% for runs in K_O %}
                <div class="collapsible-body"><span class="bold">{{runs.course_name}}</span><span class="font">:
                        {{runs.runner_name}}</span>
                    <div>{{runs.run_date}}</div>
                    <div>{{runs.run_time}}</div>
                    <div>{{runs.course_pb}}</div>
                    <div>{{runs.distance_pb}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">P-T</div>
                {% for runs in P_T %}
                <div class="collapsible-body"><span class="bold">{{runs.course_name}}</span><span class="font">:
                        {{runs.runner_name}}</span>
                    <div>{{runs.run_date}}</div>
                    <div>{{runs.run_time}}</div>
                    <div>{{runs.course_pb}}</div>
                    <div>{{runs.distance_pb}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
        <div class="block-divider"></div>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header center bold">U-Z</div>
                {% for runs in U_Z %}
                <div class="collapsible-body"><span class="bold">{{runs.course_name}}</span><span class="font">:
                        {{runs.runner_name}}</span>
                    <div>{{runs.run_date}}</div>
                    <div>{{runs.run_time}}</div>
                    <div>{{runs.course_pb}}</div>
                    <div>{{runs.distance_pb}}</div>
                </div>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}
